    {{#if footer}}
    <footer class="text-center fs-15">
        <hr style="border: 0.5px solid white">
        <div class="contact-support">
            <div>
                <div>
                    <a href="mailto:support@anchovy-studios.net">
                        <i class="far fa-envelope fa-2x"></i>
                        <span>support@anchovy-studios.net</span>
                    </a>
                </div>
                <div>
                    <a href="tel:+6287739712736">
                        <i class="fas fa-phone-square fa-2x"></i>
                        <span>+6287739712736</span>
                    </a>
                </div>
                <div>
                    <a href="https://gitlab.com/anchovy-studios/xquiz">
                        <i class="fab fa-gitlab fa-2x"></i>
                        <span>Gitlab Project</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright fs-13">Copyright <i class="far fa-copyright"></i> Anchovy Studios 2019</div>
    </footer>
    {{/if}}
    
    {{!-- script --}}
    <script src="loading.js"></script>
</body>
</html>