<div class="top-profile" style="cursor:pointer" onclick="profile()">
    <div style="flex-grow: 5">
        <div style="display: flex">
            <img src="{{user.picture}}">
        </div>
        <div>
            <h2>{{user.username}}</h2>
            <i id="profile_setting" class="fa fa-cog"></i>
        </div>
    </div>
    <div style="justify-content: flex-end;">
        <div>
            <div id="divProgress"></div>
        </div>
        <div>
            <p>Level: {{statistic.current_level}}</p>
        </div>
    </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header m-b-10" style="border-bottom: thin solid gray;">
                <h5 class="modal-title">{{user.username}}</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4" id="picture_container">
                            <img src="{{user.picture}}">
                            <div class="edit_overlay">
                                <i class="far fa-edit"></i>
                                <input id="input_picture" type="file" name="picture" style="display: none;" />
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <span class="col-6">Current level</span>
                                <span class="col-1">:</span>
                                <span class="col-4">{{statistic.current_level}}</span>
                            </div>
                            <div class="row">
                                <span class="col-6">Current point</span>
                                <span class="col-1">:</span>
                                <span class="col-4">{{statistic.current_point}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-15">
                        <button onclick="toProfile()" class="col-12 btn btn-light">See more details >></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="signout()" type="button" class="btn btn-primary" data-dismiss="modal">Signout</button>
            </div>
        </div>
    </div>
</div>

<div class="snackbar" id="error-snackbar">Please select files with requested format: Max size: 1MB, Max dimension: 500x500 px, Allowed extension: .png, .jpg, .jpeg</div>
<div class="snackbar" id="response-snackbar"></div>

<script>
    var id = {{user.user_id}};
    function profile() {
        $('#userModal').modal('show');
    }

    function toProfile() {
        window.location.href = `/profile?id=${id}`;
    }

    function showSnackbar(e_id) {
        console.log(e_id);
        var x = document.getElementById(e_id);
        x.classList.add('show');
        setTimeout(function(){ x.className = x.classList.remove("show"); }, 3000);
    }

    function signout() {
        if (confirm('Are you sure want to logout?')) {
            window.location.href = window.location.href.split('/').slice(0,-1).join('/')+'/signout';
        }
    }

    $(document).ready(function() {
        var progress = {{statistic.current_point}};
        var level = {{current_point}};
        
        $("#divProgress").circularloader({
            backgroundColor: "#ffffff",//background colour of inner circle
            fontColor: "#000000",//font color of progress text
            fontSize: "10px",//font size of progress text
            radius: 25,//radius of circle
            progressBarBackground: "#cdcdcd",//background colour of circular progress Bar
            progressBarColor: "#121944",//colour of circular progress bar
            progressBarWidth: 15,//progress bar width
            progressPercent: progress*100/level,//progress percentage out of 100
            progressValue: progress,//diplay this value instead of percentage
            showText: true,//show progress text or not
        });

        $('#userModal img').on('mouseenter', (e) => {
            $('.edit_overlay').trigger('mouseenter');
        });
        
        $('.edit_overlay').on('mouseenter', (e) => {
            $('.edit_overlay').css('transform', 'scale(1.1)');
            $('.edit_overlay').css('-webkit-transform', 'scale(1.1)');
            $('.edit_overlay').css('-moz-transform', 'scale(1.1)');
            $('.edit_overlay').css('-o-transform', 'scale(1.1)');
            $('.edit_overlay').css('-ms-transform', 'scale(1.1)');
        });

        $('#userModal img').on('mouseleave', (e) => {
            $('.edit_overlay').trigger('mouseleave');
        });
        
        $('.edit_overlay').on('mouseleave', (e) => {
            $('.edit_overlay').css('transform', 'scale(1.0)');
            $('.edit_overlay').css('-webkit-transform', 'scale(1.0)');
            $('.edit_overlay').css('-moz-transform', 'scale(1.0)');
            $('.edit_overlay').css('-o-transform', 'scale(1.0)');
            $('.edit_overlay').css('-ms-transform', 'scale(1.0)');
        });

        $('#userModal img').on('click', (e) => {
            if(confirm("Change profile picture? (Max size: 1MB, Max dimension: 500x500 px, Allowed extension: .png, .jpg, .jpeg)")) {
                $('#input_picture').trigger('click');
            }
        });

        $('#input_picture').on('change', (e) => {
            //console.log($(this).files[0].size);
            let files = document.getElementById('input_picture').files[0];
            if(files.size > 1000000 || !(files.type.includes('jpg') || files.type.includes('jpeg') || files.type.includes('png'))) {
                showSnackbar('error-snackbar');
                return;   
            }
            let data = new FormData();    
            data.append('picture', files );

            $.ajax({
                url: `/profile/{{user.user_id}}`,
                data: data,
                processData: false,
                contentType: false,
                type: 'PUT',
                success: function(data){
                    if (data.status != null) {
                        $('#response-snackbar').html(data.message);
                        showSnackbar('response-snackbar');
                        if (data.status) {
                            setTimeout(function(){ window.location.reload();}, 1500);
                        }
                    }
                }
            });
        });

        $('.clProg').attr('readonly', 'readonly');
    });
    
</script>