/* AUTH */
.auth {
    width: 100%;
    padding: 0;
}
.signin-img-bg {
    background-image: url('compress/signin_bg.jpg');
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: fixed;
    overflow: hidden;
    transform: scale(1.2);
    z-index: 0;
}

.visible .container-auth{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.75s linear;
}
.hidden .container-auth{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.75s, opacity 0.75s linear;
}

.container-auth {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-signin {
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
}
.container-signin::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
}
.wrap-signin {
    width: 390px;
    border-radius: 10px;
    overflow: hidden;
    background: transparent;
    transform: scale(0.9);
}
.auth-form {
    background-color: #fff;
}
.signin-form {
    width: 100%;
    border-radius: 10px;
}
.auth-form-title {
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}
.signin-form-title {
    font-family: Ubuntu-Bold;
    font-size: 28px;
    color: #fff;
    display: block;
}
.wrap-auth-input {
    width: 100%;
    position: relative;
}
.wrap-signin-input {
    border-bottom: 1px solid #e6e6e6;
    padding: 29px 0;
}
.auth-input {
    display: block;
    width: 100%;
    background: transparent;
}
.signin-input {
    font-family: Ubuntu-Regular;
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    height: 50px;
    padding: 0 10px 0 80px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.auth-focus-input {
    position: absolute;
    display: block;
    pointer-events: none;
}
.signin-focus-input {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.auth-focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #d41872;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: linear-gradient(left, #a445b2, #d41872, #fa4299);
}
.auth-focus-input.acc-icon::after {
    content: '\f007';
    font-weight:400;
}
.auth-focus-input.pass-icon::after {
    content: '\f09c';
    font-weight: 900;
}
.auth-focus-input::after {
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 18px;
    color: #999999;
    font-style: normal;
    display: block;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 35px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.auth-input:focus {
    padding-left: 60px;
}
.auth-input:focus + .auth-focus-input::after {
    left: 23px;
    color: #d41872;
}
.auth-input:focus + .auth-focus-input::before {
    width: 100%;
}
.has-val.auth-input + .auth-focus-input::after {
    left: 23px;
    color: #d41872;
}
.has-val.auth-input + .auth-focus-input::before {
    width: 100%;
}
.has-val.auth-input {
    padding-left: 60px;
}

.auth-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #6675df;
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.auth-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background-color: #555555;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0 20%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.auth-form-btn:hover {
    background: #333333;
} 
.container-signup {
    background: #f2f2f2;
}  
.wrap-signup {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;  
}
.signup-img-bg {
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    background-image: url('compress/signup_bg.jpg');
    transform: scale(1.25);
}  
.signup-img-bg::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
}
.signup-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    padding: 20px 55px 55px 55px;
}
  
.signup-form-title {
    width: 100%;
    display: block;
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #333333;
}  
.wrap-signup-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 65px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;
}
.label-signup-input {
    font-family: Ubuntu-Regular;
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
    display: block;
    position: absolute;
    pointer-events: none;
    width: 100%;
    padding-left: 24px;
    left: 0;
    top: 30px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}  
.signup-input {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 26px;
    width: 95%;
}  
input.signup-input {
    height: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.focus-signup-input {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    border: 1px solid #6675df;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}  
.signup-input:focus + .focus-signup-input {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}  
.eff-focus-selection {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}  
.signup-input:focus {
    height: 48px;
}  
.signup-input:focus + .focus-signup-input + .label-signup-input {
    top: 14px;
    font-size: 13px;
} 
.after-form-txt {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #555555;
}
.after-form-container {
    margin: auto;
    display: block;
    font-size: 1.4em;
}
.after-form-container span:hover{
    color: #6675df;
    cursor: pointer;
}
.after-form-container .normal:hover {
    color: #555555;
    cursor: none;
}
.sign-up-success:hover {
    color: #555555;
    cursor: none;
}

.confirmation-input:focus {
    padding-left: 0 !important;
}

.modal-error .modal-header {
    background: #e85e6c;
    border-bottom: none;   
    position: relative;
    text-align: center;
    color: white;
}

.modal-error .modal-body div {
    border: 1px solid red;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
}