/* DASHBOARD */
* {
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dashboard {
    padding-top: 5%;
    cursor: crosshair;
}

.dashboard img {
    width: 250px;
    height: 250px;
    margin: auto;
}

.dashboard h2 {
    line-height: 30px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.dashboard ul {
    display: flex;
    flex-wrap: wrap;
}

.dashboard ul li {
    display: flex;
    width: 100%;
    height: 350px;
    align-items: center;
}

.dashboard ul li div {
    display: flex;
    justify-content: flex-end;
}

.dashboard ul li:nth-child(even) {
    justify-content: flex-end;
}

.dashboard ul li:nth-child(odd) {
    justify-content: flex-start;
}

#select_mission ~ .popover {
    background: #6675df;
    color: white;
    min-width: 50%;
    z-index: 2;
}

#select_mission ~ .popover .popover-header {
    font-size: 1.4rem;
    padding: 2% 1% 2% 1%;
    background: black;
    text-transform: uppercase;
}

#select_mission ~ .popover .arrow {
    background: transparent;
}

#select_mission ~ .popover .popover-body {
    padding: 3% 2% 3% 2%;
    color: white;
}

.clProg {
    cursor: pointer;
}

.top-profile {
    position: sticky;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
}

.top-profile > div {
    display: flex;
    align-items: center;
}

.top-profile > div > div {
    flex-grow: 1 !important;
    cursor: pointer;
}

.top-profile img {
    max-width: 100px;
    max-height: 100px;
    min-width: 25px;
    min-height: 25px;
    margin: auto;
}
.top-profile div div:nth-child(2) {
    flex-grow: 7 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.top-profile i {
    margin-left: 1rem;
    font-size: 15px;
    cursor: pointer;
}
.top-profile canvas, #divProgress{
    padding: 0 !important;
}
.top-profile p {
    font-size: 20px;
    color: white;
}
.top-profile div:nth-child(2) div {
    margin-right: 2em;
}
.list-controller {
    display: flex;
    width: 100%;
    justify-content: center; 
}

.list-controller button {
    color: white !important;
}

.pages {
    margin: 0 15px;
}

.active-pages {
    border: thin solid white;
}

.pages button {
    margin: 0 5px;
}

.stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1157px 436px #FFF , 197px 851px #FFF , 1233px 1471px #FFF , 12px 1372px #FFF , 326px 1202px #FFF , 1786px 1572px #FFF , 1082px 1124px #FFF , 1391px 119px #FFF , 1669px 645px #FFF , 494px 1550px #FFF , 960px 1178px #FFF , 1586px 1917px #FFF , 702px 434px #FFF , 1982px 1686px #FFF , 1644px 1343px #FFF , 1028px 1708px #FFF , 459px 52px #FFF , 1845px 631px #FFF , 1761px 757px #FFF , 1126px 1813px #FFF , 461px 1141px #FFF , 1582px 453px #FFF , 731px 1485px #FFF , 322px 1698px #FFF , 1427px 277px #FFF , 237px 450px #FFF , 1391px 1680px #FFF , 261px 451px #FFF , 410px 119px #FFF , 1483px 1712px #FFF , 1195px 1787px #FFF , 508px 1726px #FFF , 687px 647px #FFF , 366px 86px #FFF , 984px 239px #FFF , 787px 1721px #FFF , 1247px 775px #FFF , 1408px 866px #FFF , 370px 1000px #FFF , 964px 31px #FFF , 638px 1714px #FFF , 614px 168px #FFF , 1920px 1480px #FFF , 1863px 671px #FFF , 893px 348px #FFF , 505px 1887px #FFF , 1969px 1078px #FFF , 1604px 1934px #FFF , 649px 829px #FFF , 590px 763px #FFF , 127px 680px #FFF , 519px 1267px #FFF , 38px 268px #FFF , 1520px 1951px #FFF , 376px 755px #FFF , 817px 1720px #FFF , 424px 1150px #FFF , 1817px 1597px #FFF , 1626px 1141px #FFF , 1684px 1861px #FFF , 357px 875px #FFF , 172px 1666px #FFF , 1185px 1388px #FFF , 1658px 1742px #FFF , 651px 856px #FFF , 989px 1494px #FFF , 1775px 1932px #FFF , 1378px 649px #FFF , 1743px 1776px #FFF , 945px 1189px #FFF , 470px 1494px #FFF , 1518px 56px #FFF , 731px 642px #FFF , 310px 1627px #FFF , 195px 705px #FFF , 1113px 1393px #FFF , 1181px 1767px #FFF , 1537px 524px #FFF , 705px 1669px #FFF , 629px 1068px #FFF , 47px 817px #FFF , 166px 175px #FFF , 118px 604px #FFF , 731px 694px #FFF , 836px 828px #FFF , 1828px 682px #FFF , 1109px 959px #FFF , 935px 152px #FFF , 978px 665px #FFF , 769px 1082px #FFF , 777px 245px #FFF , 1712px 1184px #FFF , 798px 1600px #FFF , 899px 48px #FFF , 419px 1426px #FFF , 1884px 494px #FFF , 792px 1828px #FFF , 1636px 1240px #FFF , 1365px 92px #FFF , 947px 610px #FFF , 1574px 1996px #FFF , 656px 82px #FFF , 669px 657px #FFF , 1871px 1514px #FFF , 847px 332px #FFF , 798px 1055px #FFF , 1315px 1439px #FFF , 246px 1026px #FFF , 94px 1210px #FFF , 1242px 11px #FFF , 1285px 1637px #FFF , 1375px 1136px #FFF , 1954px 822px #FFF , 1382px 1721px #FFF , 1894px 655px #FFF , 1888px 607px #FFF , 612px 1333px #FFF , 269px 1950px #FFF , 1403px 1800px #FFF , 601px 955px #FFF , 418px 78px #FFF , 1183px 1941px #FFF , 307px 615px #FFF , 1625px 1352px #FFF , 617px 605px #FFF , 278px 1537px #FFF , 1749px 929px #FFF , 511px 1168px #FFF , 1782px 30px #FFF , 1500px 718px #FFF , 363px 1042px #FFF , 453px 665px #FFF , 109px 1650px #FFF , 667px 1913px #FFF , 345px 1782px #FFF , 684px 1222px #FFF , 1099px 1509px #FFF , 1422px 1919px #FFF , 1505px 1156px #FFF , 1372px 1735px #FFF , 1306px 1183px #FFF , 1502px 1773px #FFF , 316px 1773px #FFF , 51px 480px #FFF , 1293px 142px #FFF , 515px 1418px #FFF , 1436px 199px #FFF , 1681px 1910px #FFF , 48px 1271px #FFF , 654px 693px #FFF , 910px 481px #FFF , 1471px 1066px #FFF , 705px 1651px #FFF , 204px 1668px #FFF , 286px 272px #FFF , 531px 514px #FFF , 589px 1376px #FFF , 1517px 134px #FFF , 91px 1165px #FFF , 1259px 1735px #FFF , 122px 1419px #FFF , 1035px 452px #FFF , 1820px 321px #FFF , 711px 1562px #FFF , 658px 1652px #FFF , 1360px 310px #FFF , 1667px 770px #FFF , 58px 63px #FFF , 1156px 1210px #FFF , 961px 851px #FFF , 444px 1993px #FFF , 1986px 182px #FFF , 788px 205px #FFF , 1862px 1017px #FFF , 632px 769px #FFF , 1860px 1977px #FFF , 408px 1626px #FFF , 1689px 520px #FFF , 1398px 727px #FFF , 676px 682px #FFF , 269px 193px #FFF , 61px 266px #FFF , 1820px 1061px #FFF , 1471px 423px #FFF , 1020px 1706px #FFF , 1627px 1265px #FFF , 1439px 955px #FFF , 809px 1796px #FFF , 1093px 557px #FFF , 395px 360px #FFF , 962px 1786px #FFF , 97px 1759px #FFF , 1122px 724px #FFF , 348px 1384px #FFF , 158px 714px #FFF , 948px 674px #FFF , 635px 71px #FFF , 1676px 319px #FFF , 559px 901px #FFF , 53px 1109px #FFF , 1023px 1089px #FFF , 382px 51px #FFF , 1602px 1599px #FFF , 1099px 1596px #FFF , 520px 175px #FFF , 1708px 1966px #FFF , 1691px 379px #FFF , 1503px 1111px #FFF , 1572px 1689px #FFF , 1762px 949px #FFF , 1769px 1336px #FFF , 959px 1340px #FFF , 870px 970px #FFF , 482px 697px #FFF , 296px 1411px #FFF , 721px 1648px #FFF , 587px 712px #FFF , 193px 103px #FFF , 963px 600px #FFF , 1767px 829px #FFF , 783px 18px #FFF , 820px 1953px #FFF , 1360px 1572px #FFF , 1444px 1704px #FFF , 992px 452px #FFF , 789px 1080px #FFF , 852px 499px #FFF , 335px 891px #FFF , 239px 1701px #FFF , 780px 1569px #FFF , 319px 1675px #FFF , 307px 1549px #FFF , 1464px 540px #FFF , 114px 1559px #FFF , 1955px 733px #FFF , 841px 155px #FFF , 978px 117px #FFF , 1566px 1405px #FFF , 1576px 1199px #FFF;
    animation: animStar 10s linear infinite;
}
.stars:after {
    content: " ";
    position: absolute;
    top: 650px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1157px 436px #FFF , 197px 851px #FFF , 1233px 1471px #FFF , 12px 1372px #FFF , 326px 1202px #FFF , 1786px 1572px #FFF , 1082px 1124px #FFF , 1391px 119px #FFF , 1669px 645px #FFF , 494px 1550px #FFF , 960px 1178px #FFF , 1586px 1917px #FFF , 702px 434px #FFF , 1982px 1686px #FFF , 1644px 1343px #FFF , 1028px 1708px #FFF , 459px 52px #FFF , 1845px 631px #FFF , 1761px 757px #FFF , 1126px 1813px #FFF , 461px 1141px #FFF , 1582px 453px #FFF , 731px 1485px #FFF , 322px 1698px #FFF , 1427px 277px #FFF , 237px 450px #FFF , 1391px 1680px #FFF , 261px 451px #FFF , 410px 119px #FFF , 1483px 1712px #FFF , 1195px 1787px #FFF , 508px 1726px #FFF , 687px 647px #FFF , 366px 86px #FFF , 984px 239px #FFF , 787px 1721px #FFF , 1247px 775px #FFF , 1408px 866px #FFF , 370px 1000px #FFF , 964px 31px #FFF , 638px 1714px #FFF , 614px 168px #FFF , 1920px 1480px #FFF , 1863px 671px #FFF , 893px 348px #FFF , 505px 1887px #FFF , 1969px 1078px #FFF , 1604px 1934px #FFF , 649px 829px #FFF , 590px 763px #FFF , 127px 680px #FFF , 519px 1267px #FFF , 38px 268px #FFF , 1520px 1951px #FFF , 376px 755px #FFF , 817px 1720px #FFF , 424px 1150px #FFF , 1817px 1597px #FFF , 1626px 1141px #FFF , 1684px 1861px #FFF , 357px 875px #FFF , 172px 1666px #FFF , 1185px 1388px #FFF , 1658px 1742px #FFF , 651px 856px #FFF , 989px 1494px #FFF , 1775px 1932px #FFF , 1378px 649px #FFF , 1743px 1776px #FFF , 945px 1189px #FFF , 470px 1494px #FFF , 1518px 56px #FFF , 731px 642px #FFF , 310px 1627px #FFF , 195px 705px #FFF , 1113px 1393px #FFF , 1181px 1767px #FFF , 1537px 524px #FFF , 705px 1669px #FFF , 629px 1068px #FFF , 47px 817px #FFF , 166px 175px #FFF , 118px 604px #FFF , 731px 694px #FFF , 836px 828px #FFF , 1828px 682px #FFF , 1109px 959px #FFF , 935px 152px #FFF , 978px 665px #FFF , 769px 1082px #FFF , 777px 245px #FFF , 1712px 1184px #FFF , 798px 1600px #FFF , 899px 48px #FFF , 419px 1426px #FFF , 1884px 494px #FFF , 792px 1828px #FFF , 1636px 1240px #FFF , 1365px 92px #FFF , 947px 610px #FFF , 1574px 1996px #FFF , 656px 82px #FFF , 669px 657px #FFF , 1871px 1514px #FFF , 847px 332px #FFF , 798px 1055px #FFF , 1315px 1439px #FFF , 246px 1026px #FFF , 94px 1210px #FFF , 1242px 11px #FFF , 1285px 1637px #FFF , 1375px 1136px #FFF , 1954px 822px #FFF , 1382px 1721px #FFF , 1894px 655px #FFF , 1888px 607px #FFF , 612px 1333px #FFF , 269px 1950px #FFF , 1403px 1800px #FFF , 601px 955px #FFF , 418px 78px #FFF , 1183px 1941px #FFF , 307px 615px #FFF , 1625px 1352px #FFF , 617px 605px #FFF , 278px 1537px #FFF , 1749px 929px #FFF , 511px 1168px #FFF , 1782px 30px #FFF , 1500px 718px #FFF , 363px 1042px #FFF , 453px 665px #FFF , 109px 1650px #FFF , 667px 1913px #FFF , 345px 1782px #FFF , 684px 1222px #FFF , 1099px 1509px #FFF , 1422px 1919px #FFF , 1505px 1156px #FFF , 1372px 1735px #FFF , 1306px 1183px #FFF , 1502px 1773px #FFF , 316px 1773px #FFF , 51px 480px #FFF , 1293px 142px #FFF , 515px 1418px #FFF , 1436px 199px #FFF , 1681px 1910px #FFF , 48px 1271px #FFF , 654px 693px #FFF , 910px 481px #FFF , 1471px 1066px #FFF , 705px 1651px #FFF , 204px 1668px #FFF , 286px 272px #FFF , 531px 514px #FFF , 589px 1376px #FFF , 1517px 134px #FFF , 91px 1165px #FFF , 1259px 1735px #FFF , 122px 1419px #FFF , 1035px 452px #FFF , 1820px 321px #FFF , 711px 1562px #FFF , 658px 1652px #FFF , 1360px 310px #FFF , 1667px 770px #FFF , 58px 63px #FFF , 1156px 1210px #FFF , 961px 851px #FFF , 444px 1993px #FFF , 1986px 182px #FFF , 788px 205px #FFF , 1862px 1017px #FFF , 632px 769px #FFF , 1860px 1977px #FFF , 408px 1626px #FFF , 1689px 520px #FFF , 1398px 727px #FFF , 676px 682px #FFF , 269px 193px #FFF , 61px 266px #FFF , 1820px 1061px #FFF , 1471px 423px #FFF , 1020px 1706px #FFF , 1627px 1265px #FFF , 1439px 955px #FFF , 809px 1796px #FFF , 1093px 557px #FFF , 395px 360px #FFF , 962px 1786px #FFF , 97px 1759px #FFF , 1122px 724px #FFF , 348px 1384px #FFF , 158px 714px #FFF , 948px 674px #FFF , 635px 71px #FFF , 1676px 319px #FFF , 559px 901px #FFF , 53px 1109px #FFF , 1023px 1089px #FFF , 382px 51px #FFF , 1602px 1599px #FFF , 1099px 1596px #FFF , 520px 175px #FFF , 1708px 1966px #FFF , 1691px 379px #FFF , 1503px 1111px #FFF , 1572px 1689px #FFF , 1762px 949px #FFF , 1769px 1336px #FFF , 959px 1340px #FFF , 870px 970px #FFF , 482px 697px #FFF , 296px 1411px #FFF , 721px 1648px #FFF , 587px 712px #FFF , 193px 103px #FFF , 963px 600px #FFF , 1767px 829px #FFF , 783px 18px #FFF , 820px 1953px #FFF , 1360px 1572px #FFF , 1444px 1704px #FFF , 992px 452px #FFF , 789px 1080px #FFF , 852px 499px #FFF , 335px 891px #FFF , 239px 1701px #FFF , 780px 1569px #FFF , 319px 1675px #FFF , 307px 1549px #FFF , 1464px 540px #FFF , 114px 1559px #FFF , 1955px 733px #FFF , 841px 155px #FFF , 978px 117px #FFF , 1566px 1405px #FFF , 1576px 1199px #FFF;
}
  
@keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-400px);
    }
}

#ingame * {
    box-sizing: border-box;
    color: white;
}

#ingame #title {
    text-align: center;
    margin-top: 10px;
    font-family: Ubuntu-Bold;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.ingame-container {
    padding: 20px 40px 0 40px;
    margin-bottom: 15px;
}

#next-prev-btn-container button {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#next-prev-btn-container button:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

#question-list {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 540px;
    background: url('compress/profile_cont_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Ubuntu-Bold;
    padding: 0 0 !important;
    border: 1px solid white;
}

#question-list:hover {
    overflow-y: scroll;
    overflow-x: hidden;
}

#question-list button {
    padding: 1.5rem 1rem;
    height: 80px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#question-list button:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.question-active-btn {
    background-color: rgba(102,117,223,0.6);
}

.content {
    border: 1px solid white;
}

#question-container {
    height: 370px;
    border: 1px dashed black;
    margin: 10px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: black;
}

#answer-container button {
    height: 55px;
    margin: 10px auto;
    background-color: white;
    color: black;
}

.answer-active-btn {
    background-color: rgba(162, 236, 249, 0.9) !important;
}

#answer-container button:hover {
    border: 2px solid #76dbf2;
    background-color: rgba(162, 236, 249, 0.9);
    color: #021656;
}

#timer {
    border: thin solid white;
    color: white;
    background-color: rgba(255, 86, 86, 0.5);
    padding: 7px;
    position: fixed;
    top: 20px;
    right: 45px;
}

#submit-btn {
    border-radius: 5px;
}

.modal-header {
    margin:0 auto;
    max-width: 50%;
    border: 0;
}

.modal-header img {
    margin: 0 auto;
}

.modal-dialog {
    margin-top: 5%;
}

.modal {
    font-family: Montserrat-Regular;
}

#leveledUp {
    margin-top: 10%;
    width: 200%;
    border: 2px dashed green;
    padding: 5%;
}

#userModal img {
    max-width: 100%;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

#userModal img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.edit_overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .3s ease;
    background-color: rgba(40,40,40,0.4);
    color: white;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
