*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    background: #1f1f1f;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
}
#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: transparent;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #d5dce4;
}

.home section {
    padding: 6rem 0;
}

.home .section-heading {
    margin-top: 0;
}
.home {
    background-image: url("compress/home_bg.jpg");
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat-y;
}
.home header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    
    height: 100vh;
    min-height: 650px;
}

.home header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.home header.masthead h1 {
    font-size: 3rem;
}

.home header.masthead p {
    font-weight: 300;
}

.home .logo {
    height: auto;
    width: auto;
    max-height: 85px;
}

.home .btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.home .btn-xl {
    padding: 1rem 2rem;
}

#contact a {
    color: white !important;
    text-decoration: none;
}

.text-faded-white {
    color: rgba(255, 255, 255, 0.7);
}

.parallax-img {
    background: transparent;
}

.parallax-content {
    z-index: 2;
    position: relative;
}

.parallax-cont {
    position: absolute !important;
}

.meteor1 {
    margin-left: -750px;
    z-index: 1;
    margin-top: -110px;
}

.cont {
    position: relative;
    overflow: hidden;
    height: 70vh;
    padding: 80px 70px 0 70px;
}
.cont__inner {
    position: relative;
    height: 70%;
}
.cont__inner:hover .story_bg:after {
    opacity: 1;
}

.story {
    position: absolute;
    left: 0;
    top: 0;
    width: 19.2%;
    height: 100%;
    background: #252525;
    transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
    will-change: transform, width, opacity;
}
.story:not(.s--active) {
    cursor: pointer;
}
.story_overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.story_inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}
.cont.s--inactive .story_inner {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
}
.story_bg {
    position: relative;
    width: calc(100vw - 140px);
    height: 100%;
    transition: -webkit-transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s, -webkit-transform 0.6s 0.7s;
    will-change: transform;
}
.story_bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
}
.cont.s--inactive .story_bg:before {
    -webkit-transform: translate3d(0, -100%, 0) scale(1.2);
            transform: translate3d(0, -100%, 0) scale(1.2);
}
.story.s--active .story_bg:before {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
}
.story_bg:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}
.cont.s--el-active .story_bg:after {
    transition: opacity 0.5s 1.4s;
    opacity: 1 !important;
}
.story_preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s;
}
.cont.s--inactive .story_preview-cont {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
}
.cont.s--el-active .story_preview-cont {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    transition: all 0.5s;
}
.story_heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
.story_content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
}
.story.s--active .story_content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s 1.4s;
}
.story_text {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}
.story_close-btn {
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer;
}
.story.s--active .story_close-btn {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s;
}
.story_close-btn:before, .story_close-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
}
.story.s--active .story_close-btn:before, .story.s--active .story_close-btn:after {
    opacity: 1;
}
.story_close-btn:before {
    -webkit-transform: rotate(45deg) translateX(100%);
            transform: rotate(45deg) translateX(100%);
}
.story.s--active .story_close-btn:before {
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    -webkit-transform: rotate(45deg) translateX(0);
            transform: rotate(45deg) translateX(0);
}
.story_close-btn:after {
    -webkit-transform: rotate(-45deg) translateX(100%);
            transform: rotate(-45deg) translateX(100%);
}
.story.s--active .story_close-btn:after {
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    -webkit-transform: rotate(-45deg) translateX(0);
            transform: rotate(-45deg) translateX(0);
}
.story_index {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: center;
    font-size: 20vw;
    line-height: 0.85;
    font-weight: bold;
    transition: opacity 0.3s 1.4s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.3s 1.4s;
    transition: transform 0.5s, opacity 0.3s 1.4s, -webkit-transform 0.5s;
    -webkit-transform: translate3d(0, 1vw, 0);
            transform: translate3d(0, 1vw, 0);
}
.story:hover .story_index {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.cont.s--el-active .story_index {
    transition: opacity 0.3s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.3s;
    transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
    opacity: 0;
}
.story_index-back, .story_index-front {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.story_index-back {
    color: #2f3840;
    opacity: 0;
    transition: opacity 0.25s 0.25s;
}
.story:hover .story_index-back {
    transition: opacity 0.25s;
    opacity: 1;
}
.story_index-overlay {
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    transition: -webkit-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
    color: transparent;
}
.story_index-overlay:before {
    content: attr(data-index);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    transition: -webkit-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
}
.story:hover .story_index-overlay {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.story:hover .story_index-overlay:before {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.story:nth-child(1) {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}
.cont.s--el-active .story:nth-child(1):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
            transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.story:nth-child(1) .story_inner {
    transition-delay: 0s;
}
.story:nth-child(1) .story_bg {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}
.story:nth-child(1) .story_bg:before {
    transition-delay: 0s;
    background-image: url("planet/planet-1-full.png");
}
.story:nth-child(2) {
    -webkit-transform: translate3d(105.2083333333%, 0, 0);
            transform: translate3d(105.2083333333%, 0, 0);
    -webkit-transform-origin: 155.2083333333% 50%;
            transform-origin: 155.2083333333% 50%;
}
.cont.s--el-active .story:nth-child(2):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
            transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.story:nth-child(2) .story_inner {
    transition-delay: 0.1s;
}
.story:nth-child(2) .story_bg {
    -webkit-transform: translate3d(-19.2%, 0, 0);
            transform: translate3d(-19.2%, 0, 0);
}
.story:nth-child(2) .story_bg:before {
    transition-delay: 0.1s;
    background-image: url("planet/planet-2-full.png");
}
.story:nth-child(3) {
    -webkit-transform: translate3d(210.4166666667%, 0, 0);
            transform: translate3d(210.4166666667%, 0, 0);
    -webkit-transform-origin: 260.4166666667% 50%;
            transform-origin: 260.4166666667% 50%;
}
.cont.s--el-active .story:nth-child(3):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
            transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.story:nth-child(3) .story_inner {
    transition-delay: 0.2s;
}
.story:nth-child(3) .story_bg {
    -webkit-transform: translate3d(-38.4%, 0, 0);
            transform: translate3d(-38.4%, 0, 0);
}
.story:nth-child(3) .story_bg:before {
    transition-delay: 0.2s;
    background-image: url("planet/planet-3-full.png");
}
.story:nth-child(4) {
    -webkit-transform: translate3d(315.625%, 0, 0);
            transform: translate3d(315.625%, 0, 0);
    -webkit-transform-origin: 365.625% 50%;
            transform-origin: 365.625% 50%;
}
.cont.s--el-active .story:nth-child(4):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(315.625%, 0, 0);
            transform: scale(0.5) translate3d(315.625%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.story:nth-child(4) .story_inner {
    transition-delay: 0.3s;
}
.story:nth-child(4) .story_bg {
    -webkit-transform: translate3d(-57.6%, 0, 0);
            transform: translate3d(-57.6%, 0, 0);
}
.story:nth-child(4) .story_bg:before {
    transition-delay: 0.3s;
    background-image: url("planet/planet-4-full.png");
}
.story:nth-child(5) {
    -webkit-transform: translate3d(420.8333333333%, 0, 0);
            transform: translate3d(420.8333333333%, 0, 0);
    -webkit-transform-origin: 470.8333333333% 50%;
            transform-origin: 470.8333333333% 50%;
}
.cont.s--el-active .story:nth-child(5):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
            transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.story:nth-child(5) .story_inner {
    transition-delay: 0.4s;
}
.story:nth-child(5) .story_bg {
    -webkit-transform: translate3d(-76.8%, 0, 0);
            transform: translate3d(-76.8%, 0, 0);
}
.story:nth-child(5) .story_bg:before {
    transition-delay: 0.4s;
    background-image: url("planet/planet-5-full.png");
}
.story:hover .story_bg:after {
    opacity: 0;
}
.story.s--active {
    z-index: 1;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
}
.story.s--active .story_bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
}
.story.s--active .story_bg:before {
    transition-delay: 0.6s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}
.icon-link img {
    width: 100%;
    vertical-align: top;
}
.icon-link--twitter {
    left: auto;
    right: 5px;
}
  
.grayscale {
    filter: grayscale(100%);
}

#story {
    padding-bottom: 0 !important;
}

#story p {
    color: white;
}