#profile-bg {
    background-image: url('/compress/profile_bg.jpg');
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: fixed;
    overflow: hidden;
    transform: scale(1.2);
    z-index: -1;
    overflow-x: hidden;
}

.star-bg {
    background: url('compress/profile_cont_bg.png');
    border: 1px white dashed;
}

.profile-container {
    padding: 5% 5%;
    font-family: Ubuntu-Regular;
}

.user-profile {
    padding: 4%;
}

.user-profile:before {
    opacity: 0.5;
}

.user-profile img {
    max-width: 100%;
    max-height: 100%;
}

.user-profile #username {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.high-score table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.high-score td, th {
    padding: 5px;
    width: 13%;
}

.high-score td {
    border-bottom: 1px solid grey;
}

.high-score td:not(:nth-child(1)) {
    border-left: thin solid rgba(180,180,180,0.2);
}

.high-score th {
    border-bottom: 2px solid darkgrey;
}

.high-score th:not(:nth-child(1)) {
    border-left: 2px solid darkgrey;
}

.high-score th:nth-child(4), .high-score td:nth-child(4) {
    width: 55% !important;
    text-overflow: ellipsis;
}

.other-stat {
    font-size: 1.2rem
}

.other-stat-cont .other-stat {
    height: 100px;
}

.dis-table {
    display: table;
}

.dis-table span {
    vertical-align: middle;
    display: table-cell;
}

button {
    position: absolute;
    top: 5%;
    left: 5%;
}