/* FONT */
@font-face {
    font-family: Ubuntu-Regular;
    src: url('Ubuntu-Regular.ttf'); 
}
@font-face {
    font-family: Ubuntu-Bold;
    src: url('Ubuntu-Bold.ttf'); 
}
@font-face {
  font-family: Montserrat-Regular;
  src: url('Montserrat-Regular.ttf'); 
}
@font-face {
  font-family: Montserrat-Bold;
  src: url('Montserrat-Bold.ttf'); 
}

/* DEFAULT */

* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
a {
    font-family: Ubuntu-Regular;
    line-height: 1.7;
    color: #666666;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}
ul, li {
    margin: 0px;
    list-style-type: none;
}
input {
    outline: none;
    border: none;
}
textarea {
    outline: none;
    border: none;
}
textarea:focus, input:focus {
    border-color: transparent !important;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}

label {
    margin: 0;
    display: block;
}
button {
    outline: none !important;
    border: none;
    background: transparent;
}
button:hover {
    cursor: pointer;
}
iframe {
    border: none !important;
}

.bg-primary1 {
    background-color: #F05F40 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.bg-primary2 {
    background-color: #F6BB09 !important;
}

.bg-primary3 {
    background-color: #739800 !important;
}

/* UTILITY */
.popup-show-signin {
    animation-name: fadeInDownSignIn;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.66,.12,.49,.89);
    opacity: 1;
    height: auto;
}
@keyframes fadeInDownSignIn {
    0% {
        opacity: 0;
        height: auto;
        transform: translate(0%, -60%) scale(0.9);
    }
    50% {
        opacity: 0.8;
        height: auto;
        transform: translate(0%, 0%) scale(0.9);
    }
    100% {
        opacity: 1;
        height: auto;
        transform: translate(0%, 0%) scale(0.9);
    }
}
.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #11b5d6, 0 0 40px #11b5d6, 0 0 50px #11b5d6, 0 0 60px #11b5d6, 0 0 70px #11b5d6;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4fdbf7, 0 0 40px #4fdbf7, 0 0 50px #4fdbf7, 0 0 60px #4fdbf7, 0 0 70px #4fdbf7, 0 0 80px #4fdbf7;
    }
}

square-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background-color: rgba(98, 91, 91, 0.5);
}

/* LOADING */
.loader {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "proxima-nova-soft", sans-serif;
    -webkit-user-select: none;
    background: #2c2d44;
}
.loader * {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.loader .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.loader .vertical-centered-box:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.loader .vertical-centered-box .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}
.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
}
.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
#particles-background,
#particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -o-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}
#particles-background {
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}
.loader #loading-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    position: absolute;
    width: 300px;
    text-align: center;
    margin-left: -150px !important;
    left: 50%;
    bottom: 50px;
    margin:auto auto;
}
.loader #loading-text:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fff;
    animation: loading 2s linear infinite;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}
lesshat-selector {
    -lh-property: 0; 
} 
@-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
@-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
@keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
[not-existing] {
    zoom: 1;
}
lesshat-selector {
    -lh-property: 0; 
} 
@-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
[not-existing] {
    zoom: 1;
}
lesshat-selector {
    -lh-property: 0;
} 
@-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
[not-existing] {
    zoom: 1;
}

/*
FOOTER
*/

footer {
    clear:both;
    background-color: rgb(27, 27, 27);
    color: white;
    z-index: 10;
}

.copyright {
    background-color: black;
    padding: 1rem;
}

.contact-support {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.contact-support > div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 3% auto;
}

.contact-support > div > div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.contact-support > div > div * {
    margin: 3%;
    width: 100%;
}

.contact-support > div > div:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}