/* display */
.dis-none {display: none;}
.dis-block {display: block;}

/* padding */
.p-t-5 {padding-top: 5px;}
.p-t-30 {padding-top: 30px;}
.p-b-33 {padding-bottom: 33px;}
.p-b-41 {padding-bottom: 41px;}
.p-b-50 {padding-bottom: 50px;}

/* margin */
.m-t-32 {margin-top: 32px;}


#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 374px 923px #FFF , 419px 1850px #FFF , 1749px 1822px #FFF , 512px 1417px #FFF , 164px 320px #FFF , 951px 1644px #FFF , 650px 285px #FFF , 1356px 1592px #FFF , 644px 1574px #FFF , 1474px 1790px #FFF , 653px 635px #FFF , 91px 1835px #FFF , 913px 1876px #FFF , 549px 419px #FFF , 325px 1815px #FFF , 878px 521px #FFF , 439px 1788px #FFF , 1304px 1834px #FFF , 984px 1026px #FFF , 599px 1610px #FFF , 576px 376px #FFF , 1709px 1461px #FFF , 163px 1196px #FFF , 1789px 107px #FFF , 1121px 585px #FFF , 1023px 36px #FFF , 1442px 29px #FFF , 1044px 269px #FFF , 520px 1150px #FFF , 661px 607px #FFF , 403px 371px #FFF , 801px 1445px #FFF , 1807px 1018px #FFF , 680px 81px #FFF , 83px 1579px #FFF , 380px 1415px #FFF , 744px 1630px #FFF , 1263px 1947px #FFF , 1525px 757px #FFF , 1709px 1836px #FFF , 1389px 529px #FFF , 1281px 1102px #FFF , 1140px 1336px #FFF , 604px 1244px #FFF , 497px 85px #FFF , 105px 1612px #FFF , 1965px 1473px #FFF , 1173px 1435px #FFF , 1994px 895px #FFF , 86px 646px #FFF , 62px 1257px #FFF , 1264px 1166px #FFF , 1128px 861px #FFF , 1816px 1076px #FFF , 1681px 97px #FFF , 1022px 203px #FFF , 79px 1800px #FFF , 1683px 1566px #FFF , 40px 1097px #FFF , 316px 1756px #FFF , 49px 440px #FFF , 262px 38px #FFF , 1766px 474px #FFF , 941px 954px #FFF , 1737px 1281px #FFF , 880px 975px #FFF , 1101px 1283px #FFF , 1467px 1763px #FFF , 1850px 1770px #FFF , 1457px 1522px #FFF , 328px 103px #FFF , 448px 516px #FFF , 132px 100px #FFF , 1530px 278px #FFF , 1551px 1363px #FFF , 1417px 1206px #FFF , 1919px 1729px #FFF , 1616px 851px #FFF , 1766px 1258px #FFF , 1401px 388px #FFF , 1654px 297px #FFF , 1108px 1293px #FFF , 39px 1784px #FFF , 749px 1747px #FFF , 35px 1138px #FFF , 815px 757px #FFF , 1117px 1062px #FFF , 1332px 1172px #FFF , 1512px 829px #FFF , 491px 570px #FFF , 44px 1206px #FFF , 1465px 1116px #FFF , 898px 1250px #FFF , 1285px 1050px #FFF , 1299px 1102px #FFF , 1424px 1090px #FFF , 91px 1233px #FFF , 1634px 255px #FFF , 1725px 853px #FFF , 1249px 1384px #FFF , 1509px 1057px #FFF , 1262px 818px #FFF , 1182px 1556px #FFF , 942px 1971px #FFF , 823px 1788px #FFF , 1232px 864px #FFF , 1375px 847px #FFF , 839px 1505px #FFF , 213px 1193px #FFF , 1599px 371px #FFF , 385px 1250px #FFF , 1897px 869px #FFF , 295px 495px #FFF , 787px 163px #FFF , 591px 1979px #FFF , 1365px 1169px #FFF , 700px 703px #FFF , 1405px 164px #FFF , 237px 1580px #FFF , 287px 522px #FFF , 1976px 1277px #FFF , 1840px 328px #FFF , 1566px 1091px #FFF , 1180px 360px #FFF , 1936px 1965px #FFF , 371px 792px #FFF , 627px 253px #FFF , 1068px 887px #FFF , 45px 1935px #FFF , 59px 1247px #FFF , 514px 1720px #FFF , 1613px 948px #FFF , 1312px 1292px #FFF , 1737px 673px #FFF , 1449px 127px #FFF , 1712px 819px #FFF , 852px 287px #FFF , 1915px 956px #FFF , 1011px 1858px #FFF , 221px 367px #FFF , 10px 1601px #FFF , 946px 326px #FFF , 716px 972px #FFF , 536px 1040px #FFF , 1212px 1863px #FFF , 899px 598px #FFF , 1776px 1635px #FFF , 904px 283px #FFF , 560px 507px #FFF , 320px 860px #FFF , 914px 1984px #FFF , 1596px 1602px #FFF , 1824px 29px #FFF , 244px 1282px #FFF , 260px 306px #FFF , 927px 1366px #FFF , 1800px 123px #FFF , 1937px 290px #FFF , 1492px 760px #FFF , 1344px 652px #FFF , 1637px 324px #FFF , 5px 492px #FFF , 1317px 1115px #FFF , 167px 805px #FFF , 1150px 806px #FFF , 1058px 460px #FFF , 716px 1209px #FFF , 410px 1190px #FFF , 74px 1631px #FFF , 1174px 1176px #FFF , 1861px 1480px #FFF , 115px 165px #FFF , 1857px 300px #FFF , 1632px 1014px #FFF , 851px 259px #FFF , 1940px 911px #FFF , 1368px 1741px #FFF , 896px 1189px #FFF , 613px 1072px #FFF , 651px 756px #FFF , 1042px 1118px #FFF , 733px 457px #FFF , 1580px 278px #FFF , 1759px 684px #FFF , 174px 794px #FFF , 1071px 1365px #FFF , 681px 634px #FFF , 636px 1567px #FFF , 415px 1592px #FFF , 1591px 1099px #FFF , 601px 1224px #FFF , 1937px 138px #FFF , 1985px 137px #FFF , 1219px 1177px #FFF , 1132px 539px #FFF , 748px 219px #FFF , 355px 208px #FFF , 1721px 865px #FFF , 1565px 272px #FFF , 756px 320px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 374px 923px #FFF , 419px 1850px #FFF , 1749px 1822px #FFF , 512px 1417px #FFF , 164px 320px #FFF , 951px 1644px #FFF , 650px 285px #FFF , 1356px 1592px #FFF , 644px 1574px #FFF , 1474px 1790px #FFF , 653px 635px #FFF , 91px 1835px #FFF , 913px 1876px #FFF , 549px 419px #FFF , 325px 1815px #FFF , 878px 521px #FFF , 439px 1788px #FFF , 1304px 1834px #FFF , 984px 1026px #FFF , 599px 1610px #FFF , 576px 376px #FFF , 1709px 1461px #FFF , 163px 1196px #FFF , 1789px 107px #FFF , 1121px 585px #FFF , 1023px 36px #FFF , 1442px 29px #FFF , 1044px 269px #FFF , 520px 1150px #FFF , 661px 607px #FFF , 403px 371px #FFF , 801px 1445px #FFF , 1807px 1018px #FFF , 680px 81px #FFF , 83px 1579px #FFF , 380px 1415px #FFF , 744px 1630px #FFF , 1263px 1947px #FFF , 1525px 757px #FFF , 1709px 1836px #FFF , 1389px 529px #FFF , 1281px 1102px #FFF , 1140px 1336px #FFF , 604px 1244px #FFF , 497px 85px #FFF , 105px 1612px #FFF , 1965px 1473px #FFF , 1173px 1435px #FFF , 1994px 895px #FFF , 86px 646px #FFF , 62px 1257px #FFF , 1264px 1166px #FFF , 1128px 861px #FFF , 1816px 1076px #FFF , 1681px 97px #FFF , 1022px 203px #FFF , 79px 1800px #FFF , 1683px 1566px #FFF , 40px 1097px #FFF , 316px 1756px #FFF , 49px 440px #FFF , 262px 38px #FFF , 1766px 474px #FFF , 941px 954px #FFF , 1737px 1281px #FFF , 880px 975px #FFF , 1101px 1283px #FFF , 1467px 1763px #FFF , 1850px 1770px #FFF , 1457px 1522px #FFF , 328px 103px #FFF , 448px 516px #FFF , 132px 100px #FFF , 1530px 278px #FFF , 1551px 1363px #FFF , 1417px 1206px #FFF , 1919px 1729px #FFF , 1616px 851px #FFF , 1766px 1258px #FFF , 1401px 388px #FFF , 1654px 297px #FFF , 1108px 1293px #FFF , 39px 1784px #FFF , 749px 1747px #FFF , 35px 1138px #FFF , 815px 757px #FFF , 1117px 1062px #FFF , 1332px 1172px #FFF , 1512px 829px #FFF , 491px 570px #FFF , 44px 1206px #FFF , 1465px 1116px #FFF , 898px 1250px #FFF , 1285px 1050px #FFF , 1299px 1102px #FFF , 1424px 1090px #FFF , 91px 1233px #FFF , 1634px 255px #FFF , 1725px 853px #FFF , 1249px 1384px #FFF , 1509px 1057px #FFF , 1262px 818px #FFF , 1182px 1556px #FFF , 942px 1971px #FFF , 823px 1788px #FFF , 1232px 864px #FFF , 1375px 847px #FFF , 839px 1505px #FFF , 213px 1193px #FFF , 1599px 371px #FFF , 385px 1250px #FFF , 1897px 869px #FFF , 295px 495px #FFF , 787px 163px #FFF , 591px 1979px #FFF , 1365px 1169px #FFF , 700px 703px #FFF , 1405px 164px #FFF , 237px 1580px #FFF , 287px 522px #FFF , 1976px 1277px #FFF , 1840px 328px #FFF , 1566px 1091px #FFF , 1180px 360px #FFF , 1936px 1965px #FFF , 371px 792px #FFF , 627px 253px #FFF , 1068px 887px #FFF , 45px 1935px #FFF , 59px 1247px #FFF , 514px 1720px #FFF , 1613px 948px #FFF , 1312px 1292px #FFF , 1737px 673px #FFF , 1449px 127px #FFF , 1712px 819px #FFF , 852px 287px #FFF , 1915px 956px #FFF , 1011px 1858px #FFF , 221px 367px #FFF , 10px 1601px #FFF , 946px 326px #FFF , 716px 972px #FFF , 536px 1040px #FFF , 1212px 1863px #FFF , 899px 598px #FFF , 1776px 1635px #FFF , 904px 283px #FFF , 560px 507px #FFF , 320px 860px #FFF , 914px 1984px #FFF , 1596px 1602px #FFF , 1824px 29px #FFF , 244px 1282px #FFF , 260px 306px #FFF , 927px 1366px #FFF , 1800px 123px #FFF , 1937px 290px #FFF , 1492px 760px #FFF , 1344px 652px #FFF , 1637px 324px #FFF , 5px 492px #FFF , 1317px 1115px #FFF , 167px 805px #FFF , 1150px 806px #FFF , 1058px 460px #FFF , 716px 1209px #FFF , 410px 1190px #FFF , 74px 1631px #FFF , 1174px 1176px #FFF , 1861px 1480px #FFF , 115px 165px #FFF , 1857px 300px #FFF , 1632px 1014px #FFF , 851px 259px #FFF , 1940px 911px #FFF , 1368px 1741px #FFF , 896px 1189px #FFF , 613px 1072px #FFF , 651px 756px #FFF , 1042px 1118px #FFF , 733px 457px #FFF , 1580px 278px #FFF , 1759px 684px #FFF , 174px 794px #FFF , 1071px 1365px #FFF , 681px 634px #FFF , 636px 1567px #FFF , 415px 1592px #FFF , 1591px 1099px #FFF , 601px 1224px #FFF , 1937px 138px #FFF , 1985px 137px #FFF , 1219px 1177px #FFF , 1132px 539px #FFF , 748px 219px #FFF , 355px 208px #FFF , 1721px 865px #FFF , 1565px 272px #FFF , 756px 320px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 63px 748px #FFF , 1442px 1315px #FFF , 729px 681px #FFF , 1212px 1821px #FFF , 284px 19px #FFF , 1676px 1717px #FFF , 1915px 236px #FFF , 1410px 922px #FFF , 2000px 302px #FFF , 1769px 553px #FFF , 602px 1160px #FFF , 1934px 33px #FFF , 913px 340px #FFF , 638px 1512px #FFF , 1055px 925px #FFF , 40px 618px #FFF , 444px 1968px #FFF , 824px 1187px #FFF , 1562px 436px #FFF , 694px 1869px #FFF , 717px 549px #FFF , 375px 1120px #FFF , 85px 1427px #FFF , 1567px 488px #FFF , 541px 827px #FFF , 339px 1988px #FFF , 709px 370px #FFF , 1781px 1299px #FFF , 1675px 1214px #FFF , 1801px 1246px #FFF , 1908px 38px #FFF , 1295px 1616px #FFF , 781px 65px #FFF , 616px 832px #FFF , 1698px 357px #FFF , 160px 800px #FFF , 832px 1964px #FFF , 243px 295px #FFF , 1197px 1820px #FFF , 928px 1631px #FFF , 767px 1496px #FFF , 542px 594px #FFF , 1926px 1697px #FFF , 924px 76px #FFF , 1878px 218px #FFF , 880px 1616px #FFF , 1665px 323px #FFF , 1590px 1056px #FFF , 944px 1849px #FFF , 661px 1892px #FFF , 1089px 727px #FFF , 357px 544px #FFF , 1712px 1719px #FFF , 981px 315px #FFF , 2000px 1452px #FFF , 1191px 584px #FFF , 1038px 1351px #FFF , 298px 1362px #FFF , 1441px 322px #FFF , 1220px 1240px #FFF , 1895px 883px #FFF , 410px 713px #FFF , 1219px 459px #FFF , 235px 1534px #FFF , 316px 1293px #FFF , 865px 1576px #FFF , 334px 920px #FFF , 1580px 1369px #FFF , 325px 1234px #FFF , 228px 724px #FFF , 1963px 1322px #FFF , 348px 797px #FFF , 30px 26px #FFF , 554px 325px #FFF , 422px 1965px #FFF , 808px 1611px #FFF , 1131px 1552px #FFF , 1980px 1586px #FFF , 880px 297px #FFF , 1447px 1805px #FFF , 1101px 972px #FFF , 814px 1780px #FFF , 1042px 339px #FFF , 1273px 875px #FFF , 1134px 1981px #FFF , 538px 865px #FFF , 1080px 1807px #FFF , 479px 249px #FFF , 1267px 818px #FFF , 1072px 310px #FFF , 1352px 1790px #FFF , 846px 1160px #FFF , 912px 1412px #FFF , 899px 1338px #FFF , 1844px 52px #FFF , 319px 209px #FFF , 389px 1107px #FFF , 312px 545px #FFF , 1964px 1320px #FFF , 155px 1004px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 63px 748px #FFF , 1442px 1315px #FFF , 729px 681px #FFF , 1212px 1821px #FFF , 284px 19px #FFF , 1676px 1717px #FFF , 1915px 236px #FFF , 1410px 922px #FFF , 2000px 302px #FFF , 1769px 553px #FFF , 602px 1160px #FFF , 1934px 33px #FFF , 913px 340px #FFF , 638px 1512px #FFF , 1055px 925px #FFF , 40px 618px #FFF , 444px 1968px #FFF , 824px 1187px #FFF , 1562px 436px #FFF , 694px 1869px #FFF , 717px 549px #FFF , 375px 1120px #FFF , 85px 1427px #FFF , 1567px 488px #FFF , 541px 827px #FFF , 339px 1988px #FFF , 709px 370px #FFF , 1781px 1299px #FFF , 1675px 1214px #FFF , 1801px 1246px #FFF , 1908px 38px #FFF , 1295px 1616px #FFF , 781px 65px #FFF , 616px 832px #FFF , 1698px 357px #FFF , 160px 800px #FFF , 832px 1964px #FFF , 243px 295px #FFF , 1197px 1820px #FFF , 928px 1631px #FFF , 767px 1496px #FFF , 542px 594px #FFF , 1926px 1697px #FFF , 924px 76px #FFF , 1878px 218px #FFF , 880px 1616px #FFF , 1665px 323px #FFF , 1590px 1056px #FFF , 944px 1849px #FFF , 661px 1892px #FFF , 1089px 727px #FFF , 357px 544px #FFF , 1712px 1719px #FFF , 981px 315px #FFF , 2000px 1452px #FFF , 1191px 584px #FFF , 1038px 1351px #FFF , 298px 1362px #FFF , 1441px 322px #FFF , 1220px 1240px #FFF , 1895px 883px #FFF , 410px 713px #FFF , 1219px 459px #FFF , 235px 1534px #FFF , 316px 1293px #FFF , 865px 1576px #FFF , 334px 920px #FFF , 1580px 1369px #FFF , 325px 1234px #FFF , 228px 724px #FFF , 1963px 1322px #FFF , 348px 797px #FFF , 30px 26px #FFF , 554px 325px #FFF , 422px 1965px #FFF , 808px 1611px #FFF , 1131px 1552px #FFF , 1980px 1586px #FFF , 880px 297px #FFF , 1447px 1805px #FFF , 1101px 972px #FFF , 814px 1780px #FFF , 1042px 339px #FFF , 1273px 875px #FFF , 1134px 1981px #FFF , 538px 865px #FFF , 1080px 1807px #FFF , 479px 249px #FFF , 1267px 818px #FFF , 1072px 310px #FFF , 1352px 1790px #FFF , 846px 1160px #FFF , 912px 1412px #FFF , 899px 1338px #FFF , 1844px 52px #FFF , 319px 209px #FFF , 389px 1107px #FFF , 312px 545px #FFF , 1964px 1320px #FFF , 155px 1004px #FFF;
  }
  