<link rel="stylesheet" href="auth.css" type="text/css">
<script>$('body').css('overflow', 'hidden');</script>
<show-hide anim-speed="normal" id="signin">
	<div class="auth signin">
		<div class="signin-img-bg"></div>
		<div class="limiter dis-none">
			<div class="container-signin container-auth">
				<div class="wrap-signin p-b-50 parallax-inner">
					{{#if type.confirmation}}
					<show-hide anim-speed="normal" id="confirmation-cont" {{#if type.registration}} style="visibility: hidden" {{/if}}>
						<span class="signin-form-title auth-form-title p-b-35">
							Account Confirmation
						</span>

						<form class="auth-form signin-form p-b-5 p-t-5" id="activation-form">
							<div class="flex-sb-m w-full m-t-20 m-b-20">
								<div class="col-lg-12 p-t-20 p-b-15 after-form-container text-center">
									<span class="normal after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Please enter your 6 digit activation code below:
									</span>
								</div>
							</div>
							
							<div class="wrap-signin-input wrap-auth-input">
								<input class="fs-50 text-center auth-input confirmation-input" id="activation-code" type="text" name="activation-code" 
								required minlength="6" maxlength="6" placeholder="123456">
								<span class="signin-focus-input auth-focus-input"></span>
							</div>

							<div class="container-auth-form-btn m-t-32">
								<button type="submit" class="auth-form-btn" style="width:50%; margin:auto;">
									Activate
								</button>
							</div>
							<div class="flex-sb-m w-full m-t-30" style="border-top: 1px solid black">
								<div class="col-lg-6 p-t-20 p-b-15 after-form-container text-center">
									<span onclick="location.href='mailto:support@anchovy-studios.net';" id="confirmation-contact" class="fs-12 after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Any trouble? Contact us!
									</span>
								</div>
							</div>
						</form>
					</show-hide>
					<show-hide anim-speed="normal" id="registration-cont" {{#if type.registration}} {{else}} style="visibility: hidden" {{/if}}>
						{{#if type.registration}}
						<script>
							document.querySelector('#confirmation-cont').hideElement();
						</script>
						{{/if}}
						<span class="signin-form-title auth-form-title p-b-35">
							Confirmation Success
						</span>

						<form class="auth-form signin-form p-b-5 p-t-5">
							<div class="flex-sb-m w-full m-t-20 m-b-20">
								<div class="col-lg-12 p-t-20 p-b-15 after-form-container text-center">
									<span class="normal after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Congratulations! Your account has been successfully registered with our system. Please signin to continue.
									</span>
								</div>
							</div>
							<div class="flex-sb-m w-full m-t-30" style="border-top: 1px solid black">
								<div class="col-lg-6 p-t-20 p-b-15 after-form-container text-center">
									<span id="registration-go-signin" class="fs-12 after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Signin now
									</span>
								</div>
							</div>
						</form>
					</show-hide>
					{{else if type.resetPassword}}
					<show-hide anim-speed="normal" id="forgot-pass-password-cont">
						<span class="signin-form-title auth-form-title p-b-35">
							Reset password
						</span>

						<form class="auth-form signin-form p-b-5 p-t-5" id="reset-pass-form">
							<div class="flex-sb-m w-full m-t-20 m-b-20">
								<div class="col-lg-12 p-t-20 p-b-15 after-form-container text-center">
									<span class="normal after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Please enter your new password:
									</span>
								</div>
							</div>

							<div class="wrap-signin-input wrap-auth-input">
								<input class="signin-input auth-input" type="password" id="forgot_pass_password" name="forgot_pass_password" placeholder="Your password here">
								<span class="signin-focus-input auth-focus-input pass-icon"></span>
							</div>

							<div class="flex-sb-m w-full m-t-20">
								<div class="col-lg-12 p-t-20 p-b-15 after-form-container text-center">
									<span class="normal after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Please enter your security answer:
									</span>
								</div>
							</div>
							
							<div class="wrap-signin-input wrap-auth-input" style="padding: 0 !important;">
								<input style="padding-left: 0" class="fs-12 signin-input auth-input text-center confirmation-input text-center" disabled type="text" value="{{type.security_question}}">
								<span class="signin-focus-input auth-focus-input"></span>
							</div>

							<div class="wrap-signin-input wrap-auth-input">
								<input class="signin-input auth-input" type="text" id="reset_pass_security_ans" name="reset_pass_security_ans" placeholder="Your answer">
								<span class="signin-focus-input auth-focus-input"></span>
							</div>

							<div class="container-auth-form-btn m-t-32">
								<button type="submit" class="auth-form-btn" style="width:50%; margin:auto;">
									Confirm
								</button>
							</div>
						</form>
					</show-hide>
					<show-hide anim-speed="normal" id="forgot-pass-password-succ-cont" style="visibility: hidden">
						<span class="signin-form-title auth-form-title p-b-35">
							Password reset success!
						</span>

						<form class="auth-form signin-form p-b-5 p-t-5">
							<div class="flex-sb-m w-full m-t-20 m-b-20">
								<div class="col-lg-12 p-t-20 p-b-15 after-form-container text-center">
									<span class="normal after-form-txt p-t-20 p-b-15 m-l-r-auto">
										You have successfully change your password. You can signin with your new password.
									</span>
								</div>
							</div>
							<div class="flex-sb-m w-full m-t-30" style="border-top: 1px solid black">
								<div class="col-lg-6 p-t-20 p-b-15 after-form-container text-center">
									<span id="forgot-pass-password-cancel" class="fs-12 after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Signin
									</span>
								</div>
							</div>
						</form>
					</show-hide>
					{{else}}
					<show-hide anim-speed="normal" id="signin-cont">
						<span class="signin-form-title auth-form-title p-b-35">
							Sign In
						</span>

						<form id="signin-form" class="auth-form signin-form p-b-5 p-t-5">
							<div class="wrap-signin-input wrap-auth-input">
								<input class="signin-input auth-input" type="email" id="email" name="email" placeholder="Email">
								<span class="signin-focus-input auth-focus-input acc-icon"></span>
							</div>

							<div class="wrap-signin-input wrap-auth-input">
								<input class="signin-input auth-input" type="password"id="password" name="password" placeholder="Password">
								<span class="signin-focus-input auth-focus-input pass-icon"></span>
							</div>

							<div class="container-auth-form-btn m-t-32">
								<button class="auth-form-btn" style="width:50%; margin:auto;">
									Login
								</button>
							</div>
							<div class="flex-sb-m w-full m-t-30" style="border-top: 1px solid black">
								<div class="col-lg-6 p-t-20 p-b-15 after-form-container text-center">
									<span id="signin-forgot-pass" class="after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Forgot Password?
									</span>
								</div>
								<div class="col-lg-6 p-t-20 p-b-15 after-form-container text-center">
									<span id="sign-up-link" class="after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Sign Up?
									</span>
								</div>
							</div>
						</form>
					</show-hide>
					<show-hide anim-speed="normal" id="forgot-pass-email-cont" style="visibility: hidden">
						<span class="signin-form-title auth-form-title p-b-35">
							Forgot password
						</span>

						<form class="auth-form signin-form p-b-5 p-t-5" id="request-reset-pass-form">
							<div class="flex-sb-m w-full m-t-20 m-b-20">
								<div class="col-lg-12 p-t-20 p-b-15 after-form-container text-center">
									<span class="normal after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Please enter your email:
									</span>
								</div>
							</div>
							
							<div class="wrap-signin-input wrap-auth-input">
								<input class="signin-input auth-input" type="email" id="forgot_pass_email" name="forgot_pass_email" placeholder="email@example.com">
								<span class="signin-focus-input auth-focus-input acc-icon"></span>
							</div>

							<div class="container-auth-form-btn m-t-32">
								<button type="submit" class="auth-form-btn" style="width:50%; margin:auto;">
									Reset Password
								</button>
							</div>
							<div class="flex-sb-m w-full m-t-30" style="border-top: 1px solid black">
								<div class="col-lg-6 p-t-20 p-b-15 after-form-container text-center">
									<span id="forgot-pass-cancel" class="after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Sign in
									</span>
								</div>
							</div>
						</form>
					</show-hide>
					<show-hide anim-speed="normal" id="forgot-pass-email-succ-cont" style="visibility: hidden">
						<span class="signin-form-title auth-form-title p-b-35">
							Request Sent
						</span>

						<form class="auth-form signin-form p-b-5 p-t-5">
							<div class="flex-sb-m w-full m-t-20 m-b-20">
								<div class="col-lg-12 p-t-20 p-b-15 after-form-container text-center">
									<span class="normal after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Your request has been sent. Please check your email address for further information.
									</span>
								</div>
							</div>
							<div class="flex-sb-m w-full m-t-30" style="border-top: 1px solid black">
								<div class="col-lg-6 p-t-20 p-b-15 after-form-container text-center">
									<span id="forgot-pass-email-cancel" class="fs-12 after-form-txt p-t-20 p-b-15 m-l-r-auto">
										Signin
									</span>
								</div>
							</div>
						</form>
					</show-hide>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</show-hide>
{{!-- {{/if}} --}}


{{!-- {{#if type.signup}} --}}
<show-hide anim-speed="normal" id="signup" style="visibility: hidden">
	<div class="auth signup" style="margin: 0 auto;">
		<div class="container-signup container-auth">
			<div class="wrap-signup">
				<form class="signup-form auth-form" style="z-index: 2" id="signup-form">
					<span class="auth-form-title signup-form-title p-b-15">
						Sign Up
					</span>
					
					<div class="wrap-auth-input wrap-signup-input">
						<input required pattern=".{5,100}" label-name="Email (5-100 char)" class="auth-input signup-input" type="email" name="email_signup">
						<span class="auth-focus-input focus-signup-input"></span>
						<span class="label-signup-input">Email (5-100 char)</span>
						<span id="email-check" style="margin:auto;font-weight: 400"><i class="far"></i></span>
					</div>

					<div class="wrap-auth-input wrap-signup-input">
						<input required pattern=".{8,25}" label-name="Username (8-25 char)" class="auth-input signup-input" type="text" name="username">
						<span class="auth-focus-input focus-signup-input"></span>
						<span class="label-signup-input">Username (8-25 char)</span>
						<span id="username-check" style="margin:auto;font-weight: 400"><i class="far"></i></span>
					</div>
					
					<div class="wrap-auth-input wrap-signup-input">
						<input pattern="(?=^.{8,}$)(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).*$" required label-name="Password (a-z, A-Z, 0-9, min 8 char)" 
							class="auth-input signup-input" type="password" name="password_signup">
						<span class="auth-focus-input focus-signup-input"></span>
						<span class="label-signup-input">Password (a-z, A-Z, 0-9, min 8 char)</span>
					</div>

					<div class="wrap-auth-input wrap-signup-input">
						<input required label-name="Password Confirmation" class="auth-input signup-input" type="password" name="re_password_signup">
						<span class="auth-focus-input focus-signup-input"></span>
						<span class="label-signup-input">Password Confirmation</span>
					</div>

					<div class="wrap-auth-input wrap-signup-input">
						<input required label-name="Security Question" class="auth-input signup-input" type="text" name="security_question">
						<span class="auth-focus-input focus-signup-input"></span>
						<span class="label-signup-input">Security Question</span>
					</div>

					<div class="wrap-auth-input wrap-signup-input">
						<input required label-name="Security Answer" class="auth-input signup-input" type="text" name="security_answer">
						<span class="auth-focus-input focus-signup-input"></span>
						<span class="label-signup-input">Security Answer</span>
					</div>

					<button type="submit" class="auth-form-btn">
						Sign Up
					</button>
					<div class="flex-sb-m w-full m-t-30" style="border-top: 1px solid black">
						<div class="col-lg-6 p-t-10 p-b-15 after-form-container text-center">
							<span id="sign-in-link" class="after-form-txt p-t-20 p-b-15 m-l-r-auto">
								Already have an account? Sign in
							</span>
						</div>
					</div>
				</form>
				<div class="signup-img-bg popup_show"></div>
			</div>
		</div>
	</div>
</show-hide>

<div class="modal fade modal-error" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal"
  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold">Error!</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body mx-3">
			</div>
		</div>
	</div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
<script src="/auth.js"></script>