<link rel="stylesheet" href="dashboard.css" type="text/css">

<div class='stars'></div>
<show-hide id="select_mission">
    {{>top_profile}}
    <div class="dashboard col-lg-12 col-md-12 p-l-20 p-r-20">
        <ul>
            <li class="m-b-30 planet" id="item-0" planet="">
                <div class="col-lg-5 col-md-5 wrapper" data-toggle="popover" 
                data-content="">
                    <img class="tilt" src="" alt="">
                </div>
            </li>
            <li class="m-b-30 planet" id="item-1" planet="">
                <div class="col-lg-5 col-md-5 wrapper" data-toggle="popover" 
                data-content="">
                    <img class="tilt" src="" alt="">
                </div>
            </li>
            <li class="m-b-30 planet" id="item-2" planet="">
                <div class="col-lg-5 col-md-5 wrapper" data-toggle="popover"  
                data-content="">
                    <img class="tilt" src="" alt="">
                </div>
            </li>
            <li class="m-b-30 planet" id="item-3" planet="">
                <div class="col-lg-5 col-md-5 wrapper" data-toggle="popover" 
                data-content="">
                    <img class="tilt" src="" alt="" planet="">
                </div>
            </li>
            <li class="m-b-30 planet" id="item-4" planet="">
                <div class="col-lg-5 col-md-5 wrapper" data-toggle="popover" 
                data-content="">
                    <img class="tilt" src="" alt="">
                </div>
            </li>
        </ul>

        <square-loader class="dis-none"></square-loader>

        <div class="list-controller">
            <button id="prev" disabled style="cursor: not-allowed"><i class="fas fa-chevron-circle-left"></i> PREV | </button>
            <div class="pages"></div>
            <button id="next"> | NEXT <i class="fas fa-chevron-circle-right"></i></button>
        </div>
    </div>
</show-hide>
<show-hide  id="ingame" style="display: none">
    <span class="t-s-18" id="timer">10:00</span>
    <div class="row"><h2 class="col text-up" id="title">Nama Planet</h2></div>
    <div class="ingame-container">
        <div class="row">
            <div class="col-3 fs-20" id="question-list">
                <button class="col" id="qn-1" q-number="1">Question 1</button>
                <button class="col" id="qn-2" q-number="2">Question 2</button>
                <button class="col" id="qn-3" q-number="3">Question 3</button>
                <button class="col" id="qn-4" q-number="4">Question 4</button>
                <button class="col" id="qn-5" q-number="5">Question 5</button>
                <button class="col" id="qn-6" q-number="6">Question 6</button>
                <button class="col" id="qn-7" q-number="7">Question 7</button>
                <button class="col" id="qn-8" q-number="8">Question 8</button>
                <button class="col" id="qn-9" q-number="9">Question 9</button>
                <button class="col" id="qn-10" q-number="10">Question 10</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-end" id="next-prev-btn-container">
        <div class="col-1"></div>
        <button class="col-5 m-l-30 m-r-30 bg-primary1" id="submit-btn">SUBMIT</button>
        <div class="col-1"></div>
        <button class="col-2" id="prev-btn"><i class="fas fa-chevron-circle-left"></i> PREV </button>
        <span>|</span>
        <button class="col-2" id="next-btn"> NEXT <i class="fas fa-chevron-circle-right"></i></button>
    </div>
</show-hide>

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="result-modal"
  aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header row">
                <div style="display:none" class="alert alert-info" id="level_cap">You have reach current max level!</div>
                <img src={{user.picture}} alt="avatar" class="rounded-circle img-responsive">
                <div id="leveledUp" style="display:none">
                <h2 class="text-up f-s-25">Congratulations!</h2>
                <div class="f-s-20 text-center">
                    You leveled up!!
                    <span id="before_lv"></span>
                    <i class="fas fa-angle-double-right"></i>
                    <span id="after_lv"></span>
                    <i class="far fa-thumbs-up fa-4x" style="position: absolute; bottom: 75%; right: 10%"></i>
                </div>
                </div>
            </div>

            <div class="modal-body text-center mb-1">

                <p class="mt-1 mb-2 text-up">Your Score:</p>
                <h2 class="fs-60" id="result_score">42</h2>
                <p>Total right answer(s): <span id="result_right">7</span></p>

                <div id="result_wrong" class="m-t-25">
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-dark" data-dismiss="modal" aria-label="Close" id="result_close">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>var id = {{user.user_id}}; var max_lvl = {{statistic.current_level}};</script>

<script src="dashboard.js"></script>