<link rel="stylesheet" href="home.css" type="text/css">
<div class="home">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <img class="logo navbar-brand js-scroll-trigger" src="logo_transparent.png">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="mailto:support@anchovy-studios.net">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-warning btn-xl" href="/auth">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>XQuiz</strong>
          </h1>
          <hr style="border: 0.5px solid white">
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-white mb-5">Start your journey!</p>
        </div>
      </div>
    </div>
  </header>

  <div class="rellax parallax-cont meteor1" data-rellax-speed="2.5">
    <img src="meteor_1.png">
  </div>

  <div class="rellax parallax-cont" data-rellax-speed="-3">
    <img src="home-planet.png">
  </div>

  <section id="knowledge" class="rellax bg-primary3" data-rellax-speed="6" style="background: url('/dashboard_bg.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Increase your knowledge!</h2>
          <hr class="light my-4">
          <p class="text-faded-white mb-4">Gain a lot of new knowledge when you are answering the question. The more you play the more knowledge you have.</p>
          <img src="home-1.png">
          <img src="home-2.png">
        </div>
      </div>
    </div>
  </section>

  <div class="rellax parallax-cont meteor1" data-rellax-speed="2.5">
    <img src="meteor_1.png">
  </div>

  <div class="rellax parallax-cont" data-rellax-speed="2" style="margin-top: 110px;">
    <img src="home-planet.png">
  </div>

  <section id="play" class="rellax bg-primary3" data-rellax-speed="6" style="background: url('/dashboard_bg.png')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Be the top!</h2>
            <hr class="light my-4">
            <p class="text-faded-white mb-4">Follow the story while answering the question. Gain experience and leveled up to unlock more planets.</p>
            <img src="home-1.png">
            <img src="home-2.png">
          </div>
        </div>
      </div>
    </section>

  <section class="rellax" data-rellax-speed="-1" style="background-color: black" id="story">
    <h2 class="text-center text-uppercase section-heading text-white">Storyline</h2>
    <hr style="border: 0.5px solid white">
    <div class="cont s--inactive">
      <!-- cont inner start -->
      <div class="cont__inner">
        {{#each levels}}
          <div class="story">
            <div class="story_overflow">
              <div class="story_inner">
                <div class="story_bg"></div>
                <div class="story_preview-cont">
                  <h2 class="story_heading">{{this.name}}</h2>
                </div>
                <div class="story_content">
                  <div class="story_text">
                    <h1>{{this.name}}</h1>
                    <p>{{this.description}}</p>
                  </div>
                  <div class="story_close-btn"></div>
                </div>
              </div>
            </div>
            <div class="story_index">
              <div class="story_index-back">{{this.number}}</div>
              <div class="story_index-front">
                <div class="story_index-overlay" data-index="{{this.number}}">{{this.number}}</div>
              </div>
            </div>
          </div>
        {{/each}}
        <!-- upcoming start -->
        <div class="story grayscale">
          <div class="story_overflow">
            <div class="story_inner">
              <div class="story_bg"></div>
              <div class="story_preview-cont">
                <h2 class="story_heading">UPCOMING</h2>
              </div>
              <div class="story_content">
                <div class="story_text">UPCOMING</div>
                <div class="story_close-btn"></div>
              </div>
            </div>
          </div>
          <div class="story_index">
            <div class="story_index-back">4</div>
            <div class="story_index-front">
              <div class="story_index-overlay" data-index="4">4</div>
            </div>
          </div>
        </div>
        <!-- upcoming end -->
        <!-- upcoming start -->
        <div class="story grayscale">
          <div class="story_overflow">
            <div class="story_inner">
              <div class="story_bg"></div>
              <div class="story_preview-cont">
                <h2 class="story_heading">UPCOMING</h2>
              </div>
              <div class="story_content">
                <div class="story_text">5</div>
                <div class="story_close-btn"></div>
              </div>
            </div>
          </div>
          <div class="story_index">
            <div class="story_index-back">5</div>
            <div class="story_index-front">
              <div class="story_index-overlay" data-index="5">5</div>
            </div>
          </div>
        </div>
        <!-- upcoming end -->
      </div>
      <!-- cont inner end -->
    </div>
  </section>
</div>

<script>
  var rellax = new Rellax('.rellax', {
    center: true,
    vertical: true
  });

  $(document).ready(function() {
    var $cont = document.querySelector('.cont');
    var $stories = [].slice.call(document.querySelectorAll('.story'));
    var $closeButtons = [].slice.call(document.querySelectorAll('.story_close-btn'));

    setTimeout(function() {
      $cont.classList.remove('s--inactive');
    }, 200);

    $stories.forEach(function($el) {
      $el.addEventListener('click', function() {
        if (this.classList.contains('s--active')) return;
        if (this.classList.contains('grayscale')) return;
        $cont.classList.add('s--el-active');
        this.classList.add('s--active');
      });
    });

    $closeButtons.forEach(function($btn) {
      $btn.addEventListener('click', function(e) {
        e.stopPropagation();
        $cont.classList.remove('s--el-active');
        document.querySelector('.story.s--active').classList.remove('s--active');
      });
    });


  });
</script>