<link rel="stylesheet" href="profile.css" type="text/css">
<div id="profile-bg"></div>
<button onclick="window.location.href = window.location.href.split('/').slice(0,-1).join('/')+'/dashboard';"
 class="btn btn-dark"><i class="fas fa-arrow-left m-r-10"></i> To dashboard</button>

<div class="profile-container">
    <div class="row fs-45 text-white justify-content-center m-b-25 text-up">Profile</div>
    <div class="row">
        <div class="col-4 high-score star-bg fs-14 text-white">
            <div class="row m-b-15 justify-content-center m-t-10">Ranking top 20</div>
            <table>
                <tr>
                    <th>No.</th>
                    <th>Lv</th>
                    <th>Sc(%)</th>
                    <th>User</th>
                </tr>
                {{#each highscore}}
                <tr>
                    <td>{{this.no}}</td>
                    <td>{{this.current_level}}</td>
                    <td>{{#if this.res}}{{this.res}}{{else}}0{{/if}}</td>
                    <td><a href="/profile?id={{this.user_id}}">{{this.username}}</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div class="col-8 user-profile star-bg fs-30 text-white">
            <div class="row text-center">
                <div class="col-4">
                    <img src="{{user.picture}}">
                </div>
                <div class="col-8 row mr-auto ml-auto align-items-center">
                    <div id="username" class="col-12" style="font-size: 2rem">{{user.username}}</div>
                    <div class="col-12" style="font-size: 1.35rem">{{user.email}}</div>
                    <div class="col-12 other-stat">Level: {{statistic.current_level}}</div>
                    <div class="col-12 other-stat">Current point: {{statistic.current_point}}</div>
                </div>
            </div>
            <div class="row align-items-center other-stat-cont m-t-25">
                <div class="col-6 row mr-auto ml-auto align-items-center">
                    <div class="col-12 other-stat dis-table">
                        <span>Total games: {{statistic.games_played}}</span>
                    </div>
                    <div class="col-12 other-stat dis-table">
                        <span>Question given: {{statistic.total_question}}</span> 
                    </div>
                    <div class="col-12 other-stat dis-table">
                        <span>Total right answer: {{statistic.total_right_answer}}</span>
                    </div>
                </div>
                <div class="col-6 row mr-auto ml-auto align-items-center">
                    <div class="col-12 other-stat dis-table">
                        <span id="stat_time_played"></span>
                    </div>
                    <div class="col-12 other-stat dis-table">
                        <span id="stat_answer_acc"></span>
                    </div>
                    <div class="col-12 other-stat dis-table">
                        <span id="stat_rank"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>

<script>
    let time_played = {{statistic.time_played}};
    let total_q = {{statistic.total_question}};
    let total_r = {{statistic.total_right_answer}};
    let rank = {{#if rank}} {{rank}} {{else}} 'Not ranked yet' {{/if}};

    $(document).ready(function() {
        $("body").mousemove((e) => {
            var a, relX, relY;

            a = $("#profile-bg");
            relX = e.pageX - a.offset().left;
            relY = e.pageY - a.offset().top;

            TweenMax.to('#profile-bg', 1, {
                x: (relX - a.width() / 2) / a.width() * -100,
                y: (relY - a.height() / 2) / a.height() * -100
            });
        });

        let hours = Math.floor(time_played/60);
        let minute = time_played%60;
        let percentage = total_q != 0 ? total_r/total_q*100 : 0;

        $('#stat_time_played').html(`Time played: ${hours} hour(s) ${minute} minute(s)`);
        $('#stat_answer_acc').html(`Answer accuracy: ${percentage}%`);
        $('#stat_rank').html(`Rank: ${rank}`);
    });
</script>