<div class="auth" style="margin: 0 auto;">
    <div class="container-signup container-auth">
        <div class="wrap-signup">
            <form class="signup-form auth-form" style="z-index: 2">
                <span class="auth-form-title signup-form-title p-b-43">
                    Login to continue
                </span>
                
                <div class="wrap-auth-input wrap-signup-input">
                    <input class="auth-input signup-input" type="text" name="email">
                    <span class="auth-focus-input focus-signup-input"></span>
                    <span class="label-signup-input">Email</span>
                </div>
                
                <div class="wrap-auth-input wrap-signup-input">
                    <input class="auth-input signup-input" type="password" name="pass">
                    <span class="auth-focus-input focus-signup-input"></span>
                    <span class="label-signup-input">Password</span>
                </div>        

                <button class="auth-form-btn">
                    Login
                </button>
            </form>

            <div class="signup-img-bg popup_show"></div>
        </div>
    </div>
</div>
<script type="text/javascript">				
    $(document).ready(function() {
        $('body').mousemove(function (e) {
            let moveX = (e.pageX * -1/20);
            let moveY = (e.pageY * -1/20);
            $('.popup_show').css('background-position', moveX + 'px ' + moveY + 'px');
        });
        $('body').css('overflow', 'hidden');
    });
</script>